Read in the ramen ratings file as a dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/ramen-ratings.csv")
df.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

set appropriate index and column names and print out an overview of the dataframe

In [3]:
dfR = df.rename(columns={"Review #": "Review","Top Ten":"Ten"})
dfR.head()

   Review           Brand  ... Stars  Ten
0    2580       New Touch  ...  3.75  NaN
1    2579        Just Way  ...     1  NaN
2    2578          Nissin  ...  2.25  NaN
3    2577         Wei Lih  ...  2.75  NaN
4    2576  Ching's Secret  ...  3.75  NaN

[5 rows x 7 columns]

Print a subset of the dataframe that only has the information of the brand of ramen and its score

In [4]:
dfR_subset = df[['Brand','Stars']]
dfR_subset.head()

            Brand Stars
0       New Touch  3.75
1        Just Way     1
2          Nissin  2.25
3         Wei Lih  2.75
4  Ching's Secret  3.75

Oh no, it seems the last column is full of null values. Convert these to NaN.

In [5]:
dfR.isnull().sum()

Review        0
Brand         0
Variety       0
Style         2
Country       0
Stars         0
Ten        2539
dtype: int64

In [7]:
dfR['Ten'] = dfR['Ten'].replace({np.nan:0})
dfR.head()

   Review           Brand  ... Stars Ten
0    2580       New Touch  ...  3.75   0
1    2579        Just Way  ...     1   0
2    2578          Nissin  ...  2.25   0
3    2577         Wei Lih  ...  2.75   0
4    2576  Ching's Secret  ...  3.75   0

[5 rows x 7 columns]

Display only the rows where the brand is Nissin and the rating is above 3.5

In [8]:
dfR.loc[(dfR.Brand == "Nissin") & (dfR.Stars > '3.5')]

      Review   Brand  ... Stars Ten
13      2567  Nissin  ...   4.5   0
14      2566  Nissin  ...     5   0
20      2560  Nissin  ...  4.25   0
27      2553  Nissin  ...  4.75   0
31      2549  Nissin  ...   4.5   0
...      ...     ...  ...   ...  ..
2510      70  Nissin  ...     4   0
2552      28  Nissin  ...     5   0
2553      27  Nissin  ...     4   0
2554      26  Nissin  ...     4   0
2557      23  Nissin  ...   4.5   0

[255 rows x 7 columns]

Group the ramen by brand and calculate the mean, max, and min values in a single output.

In [9]:
dfR.Stars.unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', 'Unrated', '1.5', '3.25', '2', '0', '3',
       '0.5', '4.00', '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3',
       '4.0', '3.00', '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1',
       '0.9', '3.1', '4.125', '3.125', '2.125', '2.9', '0.1', '2.8',
       '3.7', '3.4', '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

In [10]:
dfR2 = dfR[dfR['Stars'] != 'Unrated']
dfR2.Stars.unique()

array(['3.75', '1', '2.25', '2.75', '4.75', '4', '0.25', '2.5', '5',
       '4.25', '4.5', '3.5', '1.5', '3.25', '2', '0', '3', '0.5', '4.00',
       '5.0', '3.50', '3.8', '4.3', '2.3', '5.00', '3.3', '4.0', '3.00',
       '1.75', '3.0', '4.50', '0.75', '1.25', '1.1', '2.1', '0.9', '3.1',
       '4.125', '3.125', '2.125', '2.9', '0.1', '2.8', '3.7', '3.4',
       '3.6', '2.85', '3.2', '3.65', '1.8'], dtype=object)

In [11]:
# convert object to float for mean
dfR2['Stars'] = dfR2['Stars'].astype(float)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
dfR2.groupby('Brand').Stars.agg([np.mean, max, min])

                      mean   max   min
Brand
1 To 3 Noodles    4.000000  4.00  4.00
7 Select          3.750000  4.00  3.50
7 Select/Nissin   3.500000  3.50  3.50
A-One             2.750000  3.50  1.25
A-Sha Dry Noodle  4.067308  5.00  2.00
...                    ...   ...   ...
Yum Yum           3.750000  5.00  3.00
Yum-Mie           3.500000  3.50  3.50
Zow Zow           3.750000  3.75  3.75
iMee              3.500000  4.50  2.75
iNoodle           3.000000  3.75  2.25

[355 rows x 3 columns]

What is the mode rating for all ramen?

In [13]:
dfR.Stars.mode()

0    4
dtype: object

Groupby brand and variety. Can you figure out a way to display this information in descending order (highest to lowest)? Which has the highest average?

In [15]:
Grouped = dfR2.groupby(["Brand","Variety"]).Stars.mean().reset_index()
Grouped.head()

             Brand                                            Variety  Stars
0   1 To 3 Noodles                                     Chatpat Masala    4.0
1         7 Select  Nissin Instant Noodles Shrimp Ma Nao Lui Suan ...    4.0
2         7 Select  Nissin Instant Noodles Tom Yum Seafood Creamy ...    3.5
3  7 Select/Nissin                               Super Tom Yum Shrimp    3.5
4            A-One            Mi Ly Instant Noodles Mi Bo Beef Flavor    3.5

In [20]:
Grouped.sort_values(by="Stars", ascending=False)

              Brand                                        Variety  Stars
474         Indomie                           Mi Goreng Jumbo Beef    5.0
2091     Sun Noodle                              Ramen Miso Flavor    5.0
1951  Samyang Foods                         Nagasaki Crab Jjampong    5.0
275   Dream Kitchen                  Curry Flavour Instant Noodles    5.0
1475         Nissin                          Raoh Rich Miso Flavor    5.0
...             ...                                            ...    ...
977     Master Kong  Artificial Abalone Crab Flavor Instant Noodle    0.0
2182     Thai Smile                 Mushroom Rice Noodle Soup Bowl    0.0
2272   Urban Noodle               Authentic Street Food Black Bean    0.0
1943  Samyang Foods                        Honey & Cheese Big Bowl    0.0
2231  Uni-President                                Mushroom Flavor    0.0

[2517 rows x 3 columns]

In [18]:
Grouped.max()

Brand                                           iNoodle
Variety    三養라면 (Samyang Ramyun) (South Korean Version)
Stars                                                 5
dtype: object

How many different brands of ramen are included in the dataset?

In [ ]:
df['Brand'].nunique()

355